.indicators {
  padding-left: 0;
}

.lazy-load-image-background {
  display: flex !important;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: inherit;
  border-radius: 16px;
  overflow: hidden;
}
